{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Newsfeed</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body style="background: black">
    <header class="container center-align">
        <h1 style="color:aliceblue"> Fishbook Newsfeed</h1>
        <img class="center-align" src="{% static 'images/fb.png' %}">
        {%  block login %}
        {% endblock %}
    </header>
    <div class="container">
        {% block content %}
        
        
        {% endblock %}
    </div>
</body>
</html>